@{
    ViewBag.Title = "successNewRepresentative";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    
}

<h2>Successfully Updated The Database</h2>


<ul>
    <li>
       Return To @Html.ActionLink("Home", "Index", "Admin")
    </li>
</ul>