@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
<h2>Welcome -- @Session["Name"]</h2>
<script>
    //$(document).ready(function () {
    function fun(){

        $(function () {
            $('#topNav li' ).each(function () {
            if ($(this).find("ul").length > 0) {
                //show subnav on hover
                $(this).mouseenter(function () {
                    $(this).find("ul").stop(true, true).slideDown();
                });

                //hide submenus on exit
                $(this).mouseleave(function () {
                    $(this).find("ul").stop(true, true).slideUp();
                });

                $(this).find("ul").mousemove(function () {
                    $(this).stop(true, true).show();
                });
            }
        });
    });
        //Your code that references jQuery
    };
</script>

<nav id="topNav" onmouseover="fun()" style="position:center">
    <ul>
        @*<li>@Html.ActionLink("Home", "Index", "Admin")</li>*@
        
        
        
            <ul>
                <li><a href="/Applicant/ApplyForJob">Apply for Job</a></li>
                <li><a href="/Applicant/SearchForTraining">Apply for Training</a></li>
                <li><a href="/Applicant/WorkshopHome">Apply for Workshop</a></li>

            </ul>
                        
      
    </ul>
</nav>


