@model SeekYourCareer.Models.WSPendingApp

@{
    ViewBag.Title = "View Workshop Applicants - Representative";
    Layout = "~/Views/Shared/RepresentativeLayout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    function GetWorkshopIDs(Domain) {
        $('#SelectWorkshop').empty();
        $('#mytable').empty();
        $('#ApplicantDev').empty();
        $('#ShowError').empty();
        if (Domain == '') {
            $('#SelectWorkshop').empty();
            $('#mytable').empty();
            $('#ApplicantDiv').empty();
            $('#ShowError').empty();
            Alert.render('Select Domain');
        }
        else {
            var url = "/WorkshopRepresentative/WorkshopApplicantIdList";

            $.ajax({
                url: url,
                data: { domain: Domain },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.length == 0) {
                        $('#SelectWorkshop').empty();
                        $('#ShowError').html("<br/><br/>No pending workshop applicants");
                    }
                    else {
                        var trhtml;
                        trhtml = '<br/>Select Workshop Id <br/><br/><select name="DD" id="selectData" class="search_categories" onchange="Caller()"><br/><br/>';
                        trhtml += '<option value="">' + '--Select--' + '</option>';
                        for (var i = 0; i < data.length; i++) {
                            trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        trhtml += "</select>";


                        $('#SelectWorkshop').append(trhtml);
                        //$('body').on('change', '#selectData', Caller);
                    }
                },
                error: function (reponse) {
                    Alert.render("Error");
                    Alert.render("error : " + reponse);
                }
            });
        }
    }

    function Caller() {
        wid = document.getElementById("selectData").value;
        $('#mytable').empty();
        $('#ApplicantDev').empty();
        $('#ShowError').empty();
        if (wid == '') {
            Alert.render('Select Workshop Id');
            $('#ApplicantDiv').empty();
            $('#mytable').empty();
        }
        else {
            $('#mytable').empty();
            $('#ApplicantDiv').empty();
            GetWSPreReq(wid);
            ViewApplicants(wid);
        }
    }

    function GetWSPreReq(wsId) {
        
        var url = "/WorkshopRepresentative/WorkshopPrerequisite/";
        
        $.ajax({
            url: url,
            data: { wid: wsId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml;
                trhtml = "<table class=\"CSSInfoTable\"><tr><td align=\"left\"><b>WorkshopId</b></td><td align=\"left\">" + data.WorkshopId + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min Graduation Percentage</b></td><td align=\"left\">" + data.MinGradPct + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min PostGrad Percentage</b></td><td align=\"left\">" + data.MinPGPct + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>MinExperience</b></td><td align=\"left\">" + data.MinExperience + "</td></tr></table>"

                $('#mytable').html(trhtml);
            },
            error: function (reponse) {

                Alert.render("error : " + reponse);
            }
        });
    }
    
    function ViewApplicants(wsId) {
        $('#ShowError').empty();
        $('#ApplicantDiv').empty();
        $('#mytable').empty();
        if (wsId == '') {
            Alert.render('Select Workshop Id');
            $('#ShowError').empty();
        }
        else {
            var url = "/WorkshopRepresentative/WorkshopApplicantDetail/";

            $.ajax({
                url: url,
                data: { wid: wsId },
                cache: false,
                type: "POST",
                success: function (data) {

                    if (data.PendingApps.length == 0)
                        $('#ShowError').html("<br/><br/>No records to display");
                    else {
                        var trhtml = "<br/><table class=\"CSSTableGenerator\"><tr><th>User Name</th><th>Graduation %</th><th>Post Graduation %</th><th>Experience</th><th>Select Applicants</th><th>Reject Applicants</th></tr>";

                        for (var i = 0; i < data.PendingApps.length; i++) {

                            trhtml += "<tr> <td> " + data.PendingApps[i].Name + "</td> <td> " + data.PendingApps[i].GradPercent + "</td> <td> " + data.PendingApps[i].PGPercent + "</td> <td> " + data.PendingApps[i].WorkExpYears + "</td> <td> <input type=\"button\" class=\"button\" style=\"border: 2px solid orange \" value=\"Select\" onclick=\"Select('" + data.PendingApps[i].ApplicantId + "','" + wsId + "')\" /> </td> <td> <input type=\"button\" class=\"button\" style=\"border: 2px solid orange \" value=\"Reject\" onclick=\"Reject('" + data.PendingApps[i].ApplicantId + "','" + wsId + "')\" /> </td></tr>";
                        }
                        trhtml += "</table>";

                        $('#ApplicantDiv').html(trhtml);
                    }
                },
                error: function (reponse) {

                    Alert.render("error : " + reponse);
                }
            });
        }
    }

    function Select(userId, wsId) {
        Alert.render("Selected");
        var url = "/WorkshopRepresentative/SelectWorkshopCandidate/";
        $.ajax({
            url: url,
            data: { applicantId: userId },
            cache: false,
            type: "POST",
            success: function (data) {

                ViewApplicants(wsId);

            },
            error: function (reponse) {

                Alert.render("error : " + reponse);
            }
        });
    }

    function Reject(userId, wsId) {
        Alert.render("Rejected");
        var url = "/WorkshopRepresentative/RejectWorkshopCandidate/";
        $.ajax({
            url: url,
            data: { applicantId: userId },
            cache: false,
            type: "POST",
            success: function (data) {

                ViewApplicants(wsId);

            },
            error: function (reponse) {

                Alert.render("error : " + reponse);
            }
        });
    }

</script> 


<h2>VIEW WORKSHOP APPLICANTS</h2>

<div>
    <p>Domain</p> 
    
    @Html.DropDownList("ddldomain", new SelectList(@ViewBag.WSDomainL), "--Select--", new {@class="search_categories",  @id = "ddldomain", @style = "width:200px;" , @onchange = "javascript:GetWorkshopIDs(this.value);" }) 
</div>
 
<div id="SelectWorkshop" class="editor-field">
     
</div>

<div id ="mytable" align="center" class ="display"> 
    
</div> 

<div id="ApplicantDiv" name="DetailsDiv" align="center"> 

</div> 

<div id ="ShowError" class ="display"> 
    
</div> 

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
