@{
    ViewBag.Title = "adminPostTrainingOffer";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script>
    
    function CompanySelect(companyname)//comes here after selecting the radio button
    {
        //alert("in domain-table");

=======

        $("#SelectStreams").html("");
        $("#partialview").html("");
        $("#errormessage").html("");
        $('.partialviewdetails').html("");



        if (companyname == "") {
            Alert.render("Select a Company Name From The List!!!!!!");
            $('#partialview').html("");

            $('#partialviewdetails').empty();
        }
        else {



            $.ajax({
                url: url,
                data: { company: companyname },
                cache: false,
                type: "POST",
                success: function (data) {

                    if (data == "") {
                        $("#errormessage").html("");
                        Alert.render("Currently No Trainings Availabe For The Current Selection !!!!!");
                    }
                    else {
                        $("#partialview").html(data);
                    }

                },
                error: function (reponse) {
                    Alert.render(" not success");

                    Alert.render("error : " + reponse);
                }
            });

        }
    }
</script>




<h2 style="text-align:center">Post Training Offer</h2>

<div>
    <p>Select Company Name</p> 
    
    @Html.DropDownList("CompanyName", new SelectList(@ViewBag.List), "--Select--", new { @id = "CompanyName", @style = "width:200px;" , @onchange = "javascript:CompanySelect(this.value);",@class="search_categories" }) 
      
</div>

<div id="partialview">


</div>

<div class="partialviewdetails" >

</div>

<div id="errormessage" style="font-size:40px ; color:darkblue">

</div>

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
