@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<h2>Admin Home</h2>
<script>
    //$(document).ready(function () {
    function fun() {

        $(function () {
            $('#topNav li').each(function () {
                if ($(this).find("ul").length > 0) {
                    //show subnav on hover
                    $(this).mouseenter(function () {
                        $(this).find("ul").stop(true, true).slideDown();
                    });

                    //hide submenus on exit
                    $(this).mouseleave(function () {
                        $(this).find("ul").stop(true, true).slideUp();
                    });

                    $(this).find("ul").mousemove(function () {
                        $(this).stop(true, true).show();
                    });
                }
            });
        });
        //Your code that references jQuery
    };
</script>


<table style="font-family:Arial ; font-size:25px">
    <tr>
          <td> Total Workshop Applications </td> <td>@ViewBag.totalworkshopapplication</td>
    </tr>
    <tr>
          <td> Total Job Applications </td> <td>@ViewBag.totaljobapplication </td>
    </tr>
    <tr>
        <td> Total Training Applications</td> <td>@ViewBag.totaltrainingapplication </td>
    </tr>
</table>    
