@model SeekYourCareer.Models.WSPendingApp

@{
    ViewBag.Title = "View Workshop Applicants - Staff";
}

<script src="http://ajapx.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    function GetDomains(company) {
        $('#SelectDomain').empty();
        $('#mytable').empty();
        $('#ApplicantDiv').empty();
        $('#SelectWorkshop').empty();
        var url = "/WStaff/StVwWSApp1";
        
        $.ajax({
            url: url,
            data: { cname: company },
            cache: false,
            type: "POST",
            success: function (data) {

                var trhtml;
                trhtml = 'Domain <select name="DD" id="selectData">';
                trhtml += '<option value="">' + '--Select--' + '</option>';
                for (var i = 0; i < data.length; i++) {
                    trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                trhtml += "</select>";


                $('#SelectDomain').append(trhtml);
                $('body').on('change', '#selectData', GetWorkshopIDs);
            },
            error: function (reponse) {
                alert("Error");
                alert("error : " + reponse);
            }
        });
    }

    function GetWorkshopIDs() {
        
        $('#ApplicantDiv').empty();
        $('#mytable').empty();
        Domain = this.value;
        var url = "/WStaff/StVwWSApp2";
        
        $.ajax({
            url: url,
            data: { domain: Domain },
            cache: false,
            type: "POST",
            success: function (data) {
                
                var trhtml;
                trhtml = 'Select Workshop Id <select name="DD" id="selectData">';
                trhtml += '<option value="">' + '--Select--' + '</option>';
                for (var i = 0; i < data.length; i++) {
                    trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                trhtml += "</select>";


                $('#SelectWorkshop').html(trhtml);
                $('body').on('change', '#selectData', Caller);
            },
            error: function (reponse) {
                alert("Error");
                alert("error : " + reponse);
            }
        });
    }

    function Caller() {
        wid = this.value;
        if (wid == '') {
            alert('Select Workshop Id');
            $('#ApplicantDiv').empty();
            $('#mytable').empty();
        }
        else {
            GetWSPreReq(wid);
            ViewApplicants(wid);
        }
    }

    function GetWSPreReq(wsId) {
        $('#ApplicantDiv').empty();
        $('#mytable').empty();
        var url = "/WStaff/StVwWSPreReq/";
        
        $.ajax({
            url: url,
            data: { wid: wsId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml;
                trhtml = "<table><tr><td align=\"left\"><b>WorkshopId</b></td><td>:</td><td align=\"left\">" + data.WorkshopId + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min Graduation Percentage</b></td><td>:</td><td align=\"left\">" + data.MinGradPct + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min PostGrad Percentage</b></td><td>:</td><td align=\"left\">" + data.MinPGPct + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>MinExperience</b></td><td>:</td><td align=\"left\">" + data.MinExperience + "</td></tr></table>"

                $('#mytable').html(trhtml);
            },
            error: function (reponse) {

                alert("error : " + reponse);
            }
        });
    }
    
    function ViewApplicants(wsId) {
        $('#ApplicantDiv').empty();
        $('#mytable').empty();
           var url = "/WStaff/StVwWSApplicants/";
           
        $.ajax({
            url: url,
            data: { wid: wsId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml = "<table><tr><th>User Name</th><th>Graduation%</th><th>Post Graduation %</th><th>Experience</th></tr>";
           
                for (var i = 0; i < data.PendingApps.length; i++) {

                    trhtml += "<tr> <td> " + data.PendingApps[i].Name + "</td> <td> " + data.PendingApps[i].GradPercent + "</td> <td> " + data.PendingApps[i].PGPercent + "</td> <td> " + data.PendingApps[i].WorkExpYears + "</td> <td> <input type=\"button\" value=\"Select\" onclick=\"Select()\" /> </td> <td> <input type=\"button\" value=\"Reject\" onclick=\"Reject()\" /> </td></tr>";
                }

                
                $('#ApplicantDiv').html(trhtml);

            },
            error: function (reponse) {

                alert("error : " + reponse);
            }
        });
    }

       function Select() {
           alert("Selected");
       }

       function Reject() {
           alert("Rejected");
       }
</script> 


<h2>VIEW WORKSHOP APPLICANTS</h2>

<div>
    <p>Company</p> 
    
    @Html.DropDownList("ddlcompany", new SelectList(@ViewBag.WSCompanyNameL), "--Select--", new { @id = "ddlcompany", @style = "width:200px;" , @onchange = "javascript:GetDomains(this.value);" }) 
</div>

<div id="SelectDomain" class="editor-field">
     
</div>
 
<div id="SelectWorkshop" class="editor-field">
     
</div>

<div id ="mytable" class ="display"> 
    
</div> 

<div id="ApplicantDiv" name="DetailsDiv" align="center"> 

</div> 