@model SeekYourCareer.Models.JobApplicant

@{
    ViewBag.Title = "SelTrainCan";
    Layout = "~/Views/Shared/RepresentativeLayout.cshtml";
}

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script>
    var JOfferId;

    function GetJobIDs(Domain) {
        
        $("#mytable").empty();
        $("#ApplicantDiv").empty();
        $("#SelectJob").empty();
        $("#ShowError").empty();
        if (Domain == '') {
            Alert.render("Please select a stream code!");
            trhtml = '';
            
            $("#mytable").empty();
            $("#ApplicantDiv").empty();
            $("#SelectJob").empty();
            $("#ShowError").empty();
        }
        else {
            var url = "/JobRepresentative/JobApplicantByCompanyList";

            $.ajax({
                url: url,
                data: { streamcode: Domain },
                cache: false,
                type: "POST",
                success: function (data) {

                    var trhtml = '';
                    trhtml = '<br/>Select Job Offer Id <br/><br/> <select name="DD" class="search_categories" id="selectData" onchange="Caller()">';
                    trhtml += '<option value="0">' + '--Select--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                    }
                    trhtml += "</select><br/><br/>";
                    
                    $('#SelectJob').append(trhtml);
                    //$('body').on('change', '#selectData', Caller);
                    
                },
                error: function (reponse) {
                    Alert.render("error : " + reponse);
                }
            });
        }
    }

    function Caller() {
        
        jid = document.getElementById("selectData").value;
        
        JOfferId = jid;
        $("#ShowError").empty();
        $("#mytable").empty();
        $('#ApplicantDiv').empty();
        
        if (jid != 0)
            ViewApplicants(jid)
        else {
            Alert.render("Please select Job Offer Id");
            JOfferId = '';
            trhtml = '';
            $('#ApplicantDiv').empty();
            $("#mytable").empty();
            
        }
    }

    function GetJobPreReq() {
        
        $('#mytable').empty();
        var url = "/JobRepresentative/ViewJobPrerequisite/";
                
        $.ajax({
            url: url,
            data: { jobid: JOfferId },
            cache: false,
            type: "POST",
            
            success: function (data) {
                
                trhtml = "<div align=\"center\"><table class=\"CSSInfoTable\"><tr><td align=\"left\"><b>Min SSC Percentage</b></td><td align=\"left\">" + data.MinSSCPercent + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min HSC Percentage</b></td><td align=\"left\">" + data.MinHSCPercent + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min Graduation Average</b></td><td align=\"left\">" + data.MinGradAvg + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min Post Graduation Average</b></td><td align=\"left\">" + data.MinPGAvg + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Experience</b></td><td align=\"left\">" + data.Experience + "</td></tr></table></div>"

                $('#mytable').append(trhtml);
            },
            error: function (reponse) {

                Alert.render("error : " + reponse);
            }
        });
    }
    
    function ViewApplicants(jobId) {
        $("#ShowError").empty();
        $("#mytable").empty();
        $('#ApplicantDiv').empty();
        if (jobId == '') {
            Alert.render('Select Job Id');
            $("#ShowError").empty();
            $("#mytable").empty();
            $('#ApplicantDiv').empty();
        }
        else {
            var url = "/JobRepresentative/JobApplicantByCompanyDetail/";

            $.ajax({
                url: url,
                data: { jid: jobId },
                cache: false,
                type: "POST",
                success: function (data) {

                    if (data.JobApplicants.length == 0) {
                        trhtml = "No records to display";
                        $("#ShowError").html(trhtml);
                        $("#mytable").empty();
                        $("#ApplicantDiv").empty();
                    }
                    else {
                        var trhtml = '';
                        trhtml += "<input type=\"button\" class=\"button\" style=\"border: 2px solid orange \" value=\"View Educational Requirements\" onclick= \"GetJobPreReq()\"/>";
                        trhtml += "<br/><br/>";
                        trhtml += "<table class=\"CSSTableGenerator\"><tr><th>ApplicantId</th><th>Name</th><th>SSC Percentage</th><th>HSC Percentage</th><th>PG Percentage</th><th>Graduation Percentage</th><th>Experience</th><th>Select</th><th>Reject</th></tr>";
                        for (var i = 0; i < data.JobApplicants.length; i++) {

                            trhtml += "<tr> <td> " + data.JobApplicants[i].ApplicantId + "</td> <td> " + data.JobApplicants[i].Name + "</td> <td> " + data.JobApplicants[i].SSCPercent + "</td> <td> " + data.JobApplicants[i].HSCPercent + "</td> <td> " + data.JobApplicants[i].GradPercent + "</td> <td> " + data.JobApplicants[i].PGPercent + "</td> <td> " + data.JobApplicants[i].HaveWorkExp + "</td> <td> <input type=\"button\" class=\"button\" value=\"Select\" onclick=\"Select('" + data.JobApplicants[i].ApplicantId + "','" + jobId + "')\" /> </td> <td> <input type=\"button\" class=\"button\" value=\"Reject\" onclick=\"Reject('" + data.JobApplicants[i].ApplicantId + "','" + jobId + "')\" /> </td></tr>";
                        }

                        trhtml += "</table>";
                        $('#ApplicantDiv').html(trhtml);
                    }
                },
                error: function (reponse) {

                    Alert.render("error : " + reponse);
                }
            });
        }
    }

    
       function Select(userId,jobId) {
      
           Alert.render("Candidate Selected and updated in database");
           var url = "/JobRepresentative/SelectJobCandidate/";
           $.ajax({
               url: url,
               data: { applicantId: userId },
               cache: false,
               type: "POST",
               success: function (data) {
      
                   ViewApplicants(jobId);

               },
               error: function (reponse) {
                   console.log(reponse);
                   alert("error : " + reponse);
               }
           });
       }
       
    /*
    function Select(applicantId) {
        window.location.href = "/JobRepresentative/SelectJobCandidate?applicantId=";
        //window.location.reload(true);
    }
    */

       function Reject(userId,jobId) {
           Alert.render("Candidate Rejected and updated in database");
           var url = "/JobRepresentative/RejectJobCandidate/";
           $.ajax({
               url: url,
               data: { applicantId: userId },
               cache: false,
               type: "POST",
               success: function (data) {

                   ViewApplicants(jobId);

               },
               error: function (reponse) {

                   Alert.render("error : " + reponse);
               }
           });
       }

    
</script> 


<h2>VIEW JOB APPLICANTS</h2>

<div>
    <p>Stream Code</p> 
    
    @Html.DropDownList("ddldomain", new SelectList(@ViewBag.JobDomainL), "--Select--", new { @id = "ddldomain", @style = "width:200px;", @class="search_categories", @onchange = "javascript:GetJobIDs(this.value);" }) 
</div>
 
<div id="SelectJob" class="editor-field">
     
</div>

<div id ="mytable" class ="display"> 
    
</div> 

<div id="ApplicantDiv" name="DetailsDiv" align="center"> 

</div> 

<div id ="ShowError" class ="display"> 
    
</div> 

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
