@model SeekYourCareer.Models.Training

@{
    ViewBag.Title = "View Training Applicants - Representative";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="http://ajapx.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    function GetTrainIDs(companyName) {
        if (companyName == '') {
            $('#SelectStream').empty();
            $('#mytable').empty();
            $('#DetailsDiv').empty();
            Alert.render('Select Company');
        }
        else {
            var url = "/TrainingStaff/TrainingApplicantAllDD";

            $.ajax({
                url: url,
                data: { companyName: companyName },
                cache: false,
                type: "POST",
                success: function (data) {

                    var trhtml;
                    trhtml = '<br/>Training Id <br/><br/><select name="DD" id="selectData" class="search_categories" onchange="GetTraining()">';
                    trhtml += '<option value="">' + '--Select--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                    }
                    trhtml += "</select>";


                    $('#SelectStream').html(trhtml);
                    //$('body').on('change', '#selectData', GetTraining);
                },
                error: function (reponse) {
                    Alert.render("Error");
                    Alert.render("error : " + reponse);
                }
            });
        }
    }

    function GetTraining() {
        trainId = document.getElementById("selectData").value;
        if (trainId == '') {
            $('#mytable').empty();
            $('#DetailsDiv').empty();
            $('#DetailsDiv').html("No records to display");
            Alert.render("Please select training Id");
        }
        else {

            var url = "/TrainingStaff/TrainingApplicantAllM/";

            $.ajax({
                url: url,
                data: { trainingId: trainId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var trhtml;
                    trhtml = "<br/><br/><table class=\"CSSInfoTable\"><tr><td align=\"left\"><b>Location</b></td><td align=\"left\">" + data.Location + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Domain</b></td><td align=\"left\">" + data.Domain + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Graduation</b></td><td align=\"left\">" + data.Graduation + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Postgraduation</b></td><td align=\"left\">" + data.PG + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Past Experience</b></td><td align=\"left\">" + data.PastExp + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Starting Date</b></td><td align=\"left\">" + new Date(parseInt((data.StartingDate).substr(6))) + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Duration in Days</b></td><td align=\"left\">" + data.Duration + "</td></tr>"
                    trhtml += "<tr><td align=\"left\"><b>Description</b></td><td align=\"left\">" + data.TrainingDesc + "</td></tr></table>"

                    trhtml += "<input type=\"button\" class=\"button\" style=\"border: 2px solid orange \" value=\"View Applicants\" onclick= \"ViewApplicants('" + trainId + "')\"/>";
                    $('#mytable').html(trhtml);

                },
                error: function (reponse) {

                    Alert.render("error : " + reponse);
                }
            });

        }
    }
    
       function ViewApplicants(trainId) {
           
        var url = "/TrainingStaff/ShowTrainingApplicants/";
        
        $.ajax({
            url: url,
            data: { trainingId: trainId },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.TrainApplicants.length == 0)
                    $('#DetailsDiv').html("No records to display");
                else {
                    var trhtml = "<table class=\"CSSTableGenerator\"><tr><th>Applicant Id</th><th>Name</th><th>Date of Application</th><th>SSC Percentage</th><th>HSC Percentage</th><th>Graduation Percentage</th><th>Postgraduation Percentage</th><th>Experience in months</th></tr>";

                    for (var i = 0; i < data.TrainApplicants.length; i++) {

                        trhtml += "<tr> <td>" + data.TrainApplicants[i].ApplicantId + "</td> <td>" + data.TrainApplicants[i].Name + "</td> <td>" + data.TrainApplicants[i].AppDate + "</td> <td> " + data.TrainApplicants[i].SSCPercent + "</td> <td> " + data.TrainApplicants[i].HSCPercent + "</td> <td> " + data.TrainApplicants[i].GradPercent + "</td> <td> " + data.TrainApplicants[i].PGPercent + "</td> <td> " + data.TrainApplicants[i].Experience + "</td> </tr>";
                    }


                    $('#DetailsDiv').html(trhtml);
                }

            },
            error: function (reponse) {

                Alert.render("error : " + reponse);
            }
        });
    }

       
</script> 


<h2>VIEW TRAINING APPLICANTS</h2>

<div>
    <p>Company</p> 
    @Html.DropDownList("ddlcompany", new SelectList(@ViewBag.CompanyNameL), "--Select--", new {@class="search_categories", @id = "ddlcompany", @style = "width:200px;" , @onchange = "javascript:GetTrainIDs(this.value);" }) 
</div>
 
 <div id="SelectStream" class="editor-field">
     
</div>

  <div id ="mytable" class ="display" align="center"> 
      

  </div> 



<div id="DetailsDiv" name="DetailsDiv" align="center"> 
</div> 

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
