@using SeekYourCareer.Models
@model SeekYourCareer.Models.SelectedTrainees

@{
    ViewBag.Title = "Shortlisted Training Applicants - Staff";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="http://ajapx.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>

    function GetTrainingIds(repId) {
        $('#mytable').empty();
        $('#DetailsDiv').empty();
      
        if (repId == '') {
            
            $('#mytable').empty();
            $('#DetailsDiv').empty();
            $("#ddltrainid").find('option').remove().end();
            $("#ddltrainid").append("<option value = '0' >" + "--Select--" + "</option>");
            Alert.render('Select Company');
        }
        else {
            var url = "/TrainingStaff/TrainingIdList/";

            $.ajax({
                url: url,
                data: { repId: repId },
                cache: false,
                type: "POST",

                success: function (data) {

                    $("#ddltrainid").find('option').remove().end();
                    $("#ddltrainid").append("<option value = '0' >" + "--Select--" + "</option>");
                    for (var x = 0; x < data.length; x++) {
                        $("#ddltrainid").append("<option value = '" + data[x].TrainingId + "' >" + data[x].TrainingId + "</option>");
                    }
                },
                error: function (reponse) {
                    Alert.render("error : " + reponse);
                }
            });
        }
     } 
      
    function GetApplicants(trainingId) {
        $('#mytable').empty();
        $('#DetailsDiv').empty();
        if(trainingId == '') {
            $('#mytable').empty();
            $('#DetailsDiv').empty();
            Alert.render('Select TrainingId');
        }
        else {
            var url = "/TrainingStaff/TrainingCandidates/";

            $.ajax({
                url: url,
                data: { trainingId: trainingId },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.TrainApplications.length == 0)
                        $('#mytable').html("No records to display");
                    else {
                        var trhtml = "<br/><table class=\"CSSTableGenerator\"><tr><th>Applicant Id</th><th>Name</th><th></th></tr>";

                        for (var i = 0; i < data.TrainApplications.length; i++) {

                            trhtml += "<tr> <td>" + data.TrainApplications[i].ApplicantId + "</td> <td> " + data.TrainApplications[i].Name + "</td> <td> <input type=\"button\" class=\"button\" style=\"border: 2px solid orange \" value=\"Details\" onclick=\"GetDetails('" + data.TrainApplications[i].ApplicantId + "','" + data.TrainApplications[i].TrainingId + "','" + data.TrainApplications[i].AppDate + "','" + data.TrainApplications[i].CorrAddress + "','" + data.TrainApplications[i].ContactNo + "','" + data.TrainApplications[i].SelectionStatus + "')\" /> </td> </tr>";
                        }
                        trhtml += "</table>";
                        //  $('#mytable tbody > tr').remove();
                        $('#mytable').html(trhtml);
                    }
                },
                error: function (reponse) {

                    Alert.render("error : " + reponse);
                }
            });
        }

    }

    function GetDetails(a,b,c,d,e,f) {
        
        details = "<table class=\"CSSInfoTable\"><tr><td align=\"left\"><b>Applicant Id</b></td><td align=\"left\">" + a + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Training Offer Id</b></td><td align=\"left\">" + b + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Date of Application</b></td><td align=\"left\">" + c + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Correspondence Address</b></td><td align=\"left\">" + d + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Phone Number</b></td><td align=\"left\">" + e + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Approval Status</b></td><td align=\"left\">" + f + "</td></tr></table>"
        document.getElementById("DetailsDiv").innerHTML = details;
    }
</script> 

<h2>Shortlisted Training Candidates</h2>

     
    <p>Select Company</p>
     @Html.DropDownList("ddlcompany", new SelectList(Model.CompanyModel,"CompanyName","CompanyName"), "--Select--", new { @class="search_categories", @id = "ddlcompany", @style = "width:200px;" , @onchange = "javascript:GetTrainingIds(this.value);" }) 
    
    <p>Training Id</p> 
    @Html.DropDownList("ddltrainid", new SelectList(Model.TrainingModel,"RepId","TrainingId"), "--Select--", new { @class="search_categories",  @id = "ddltrainid", @style = "width:200px;" , @onchange = "javascript:GetApplicants(this.value);" }) 
      

 
  <div id ="mytable" class ="display"> 
       
 </div> 



<div id="DetailsDiv" name="DetailsDiv" align="center"> 
</div> 

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
