@model SeekYourCareer.ViewModels.SelJCanViewModel

@{
    ViewBag.Title = "SelTrainCan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="http://ajapx.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    function GetJobId(companyName) {
        $('#SelectStream').empty();
        $('#mytable').empty();
        $('#DetailsDiv').empty();
        if (companyName == '') {
            Alert.render('Select Company Name');
            $('#SelectStream').empty();
            $('#mytable').empty();
            $('#DetailsDiv').empty();
        }
        else {
            var url = "/JobStaff/JobCandidateAll";

            $.ajax({
                url: url,
                data: { companyName: companyName },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.length == 0)
                        $('#mytable').html("No records to display");
                    else {
                        var trhtml;
                        trhtml = '<br/>Job Offer Id <br/><br/><select name="DD" id="selectData" class="search_categories" onchange="GetApplicants()">';
                        trhtml += '<option value="">' + '--Select--' + '</option>';
                        for (var i = 0; i < data.length; i++) {
                            trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        trhtml += "</select>";


                        $('#SelectStream').append(trhtml);
                        //$('body').on('change', '#selectData', GetApplicants);
                    }
                },
                error: function (reponse) {
                    Alert.render("Error");
                    Alert.render("error : " + reponse);
                }
            });
        }
    }

    function GetApplicants() {
        $('#DetailsDiv').empty();
        $('#mytable').empty();
        jobId = document.getElementById("selectData").value;
        if (jobId == '') {
            Alert.render('Select Job Id');
            $('#DetailsDiv').empty();
            $('#mytable').empty();
        }
        else {
            var url = "/JobStaff/JobCandidateMaster/";

            $.ajax({
                url: url,
                data: { jobId: jobId },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.JobApplications.length == 0)
                        $('#mytable').html("No records to display");
                    else {
                        var trhtml = "<table  class=\"CSSTableGenerator\"><tr><th>Applicant Id</th><th>UserId</th><th>JobOfferId</th><th>AppliedDate</th><th>Correspondance Address</th><th>Approval Status</th><th></th></tr>";

                        for (var i = 0; i < data.JobApplications.length; i++) {

                            trhtml += "<tr> <td>" + data.JobApplications[i].ApplicantId + "</td> <td> " + data.JobApplications[i].UserID + "</td> <td> " + data.JobApplications[i].JobId + "</td> <td> " + data.JobApplications[i].AppDate + "</td> <td> " + data.JobApplications[i].Correspondance + "</td> <td> " + data.JobApplications[i].Status + "</td> <td> <input type=\"button\" value=\"Details\" onclick=\"GetDetails('" + data.JobApplications[i].Name + "','" + data.JobApplications[i].Age + "','" + data.JobApplications[i].Correspondance + "','" + data.JobApplications[i].ContactNo + "','" + data.JobApplications[i].EmailId + "')\" /> </td> </tr>";
                        }

                        $('#mytable tbody > tr').remove();
                        $('#mytable').append(trhtml);
                    }
                },
                error: function (reponse) {

                    Alert.render("error : " + reponse);
                }
            });

        }
    }

    function GetDetails(a,b,c,d,e) {
        $('#DetailsDiv').empty();
        details = "<br/><table class=\"CSSInfoTable\"><tr><td align=\"left\"><b>Name</b></td><td align=\"left\">" + a + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Age</b></td><td align=\"left\">" + b + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Address</b></td><td align=\"left\">" + c + "</td></tr>"
        details += "<tr><td align=\"left\"><b>Contact No</b></td><td align=\"left\">" + d + "</td></tr>"
        details += "<tr><td align=\"left\"><b>EmailId</b></td><td align=\"left\">" + e + "</td></tr></table>"
        document.getElementById("DetailsDiv").innerHTML = details;
    }
</script> 


<h2>VIEW SHORTLISTED CANDIDATES</h2>

<div>
    <p>Company</p>
    @Html.DropDownList("ddlcompany", new SelectList(@ViewBag.CompanyNameL), "--Select--", new { @class="search_categories",@id = "ddlcompany", @style = "width:200px;" , @onchange = "javascript:GetJobId(this.value);" }) 

          
 </div>

<div id="SelectStream" class="editor-field">
     
</div>
 
  <table id ="mytable" class ="display"> 
      <thead> 
          
      </thead> 
      <tbody> 
 
 
 
 
      </tbody> 

  </table> 


<div id="DetailsDiv" name="DetailsDiv" align="center"> 
</div> 

<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
