@model ProjSeekCareer.Models.Training

@{
    ViewBag.Title = "SelTrainCan";
}

<script src="http://ajapx.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    function GetTraining(trainId) {

        var url = "/TRep/RVwTrainCan/";
        
        $.ajax({
            url: url,
            data: { tid: trainId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml;
                trhtml = "<table><tr><td align=\"left\"><b>Location</b></td><td>:</td><td align=\"left\">" + data.Location + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Domain</b></td><td>:</td><td align=\"left\">" + data.Domain + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Graduation</b></td><td>:</td><td align=\"left\">" + data.Graduation + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Postgraduation</b></td><td>:</td><td align=\"left\">" + data.PG + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Past Experience</b></td><td>:</td><td align=\"left\">" + data.PastExp + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Starting Date</b></td><td>:</td><td align=\"left\">" + data.StartingDate + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Duration in Days</b></td><td>:</td><td align=\"left\">" + data.Duration + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Description</b></td><td>:</td><td align=\"left\">" + data.TrainingDesc + "</td></tr></table>"

                trhtml += "<input type=\"button\" value=\"View\" onclick= \"ViewApplicants('"+trainId+"')\"/>";
                $('#mytable').append(trhtml);

            },
            error: function (reponse) {

                alert("error : " + reponse);
            }
        });


    }

       function ViewApplicants(trainId) {
           
        var url = "/TRep/RVwTrainApplicants/";
        alert(trainId);
        $.ajax({
            url: url,
            data: { tid: trainId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml;
                alert(data.TrainApplicants.length);
                for (var i = 0; i < data.TrainApplicants.length; i++) {

                    trhtml += "<tr> <td>" + data.TrainApplicants[i].ApplicantId + "<tr> <td>" + data.TrainApplicants[i].Name + "<tr> <td>" + data.TrainApplicants[i].AppDate + "</td> <td> " + data.TrainApplicants[i].SSCPercent + "</td> <td> " + data.TrainApplicants[i].HSCPercent + "</td> <td> " + data.TrainApplicants[i].GradPercent + "</td> <td> " + data.TrainApplicants[i].PGPercent + "</td> <td> " + data.TrainApplicants[i].Experience + "</td> <td> <input type=\"button\" value=\"Select\" onclick=\"Select()\" /> </td> <td> <input type=\"button\" value=\"Reject\" onclick=\"Reject()\" /> </td></tr>";
                }

                
                $('#mytable').append(trhtml);

            },
            error: function (reponse) {

                alert("error : " + reponse);
            }
        });
    }

       function Select() {
           alert("Selected");
       }

       function Reject() {
           alert("Rejected");
       }
</script> 


<h2>VIEW TRAINING APPLICANTS</h2>

<div>
    <p>Job Offer Id</p> 
    
    @Html.DropDownList("ddltrainid", new SelectList(@ViewBag.TrainIdL), "--Select--", new { @id = "ddljobid", @style = "width:200px;" , @onchange = "javascript:GetTraining(this.value);" }) 
      
 <br /> 
     <br /> 
 
 
  <div id ="mytable" class ="display"> 
      

  </div> 
 </div> 



<div id="DetailsDiv" name="DetailsDiv" align="center"> 
</div> 