@{
    ViewBag.Title = "StVwJobApp";
}

<h2>StVwJobApp</h2>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    var JOfferId;
    function GetDomains(company) {

        var url = "/JStaff/StVwJobApp1";
        
        $.ajax({
            url: url,
            data: { cname: company },
            cache: false,
            type: "POST",
            success: function (data) {

                var trhtml;
                trhtml = 'Stream Code <select name="DD" id="selectData">';
                alert(data.length);
                for (var i = 0; i < data.length; i++) {
                    trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                trhtml += "</select>";
                
                $('#SelectDomain').append(trhtml);
                $('body').on('change', '#selectData', GetJobIDs);
            },
            error: function (reponse) {
                alert("Error");
                alert("error : " + reponse);
            }
        });
    }

    function GetJobIDs() {
        Domain = this.value;
        var url = "/JStaff/StVwJobApp2";
        
        $.ajax({
            url: url,
            data: { streamcode: Domain },
            cache: false,
            type: "POST",
            success: function (data) {
                
                var trhtml;
                trhtml = 'Select Job Offer Id <select name="DD" id="selectData">';
                alert(data.length);
                for (var i = 0; i < data.length; i++) {
                    trhtml += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                trhtml += "</select>";

                trhtml += "<input type=\"button\" value=\"View\" onclick= \"GetJobPreReq()\"/>";
                $('#SelectJob').append(trhtml);
                $('body').on('change', '#selectData', Caller);
            },
            error: function (reponse) {
                alert("Error");
                alert("error : " + reponse);
            }
        });
    }

    function Caller() {
        jid = this.value;
        JOfferId = this.value;
        ViewApplicants(jid)
    }

    function GetJobPreReq() {
        
        var url = "/JStaff/StVwJobPreReq/";
        
        $.ajax({
            url: url,
            data: { jid: JOfferId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml;
                trhtml = "<table><tr><td align=\"left\"><b>Min SSC Percentage</b></td><td>:</td><td align=\"left\">" + data.MinSSCPercent + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min HSC Percentage</b></td><td>:</td><td align=\"left\">" + data.MinHSCPercent + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min Graduation Average</b></td><td>:</td><td align=\"left\">" + data.MinGradAvg + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Min Post Graduation Average</b></td><td>:</td><td align=\"left\">" + data.MinPGAvg + "</td></tr>"
                trhtml += "<tr><td align=\"left\"><b>Experience</b></td><td>:</td><td align=\"left\">" + data.Experience + "</td></tr></table>"

                $('#mytable').append(trhtml);
            },
            error: function (reponse) {

                alert("error : " + reponse);
            }
        });
    }
    
    function ViewApplicants(jobId) {
           
           var url = "/JStaff/StVwJobApplicants/";
           
        $.ajax({
            url: url,
            data: { jid: jobId },
            cache: false,
            type: "POST",
            success: function (data) {
                var trhtml;
           
                for (var i = 0; i < data.JobApplicants.length; i++) {

                    trhtml += "<tr> <td> " + data.JobApplicants[i].Name + "</td> <td> " + data.JobApplicants[i].SSCPercent + "</td> <td> " + data.JobApplicants[i].HSCPercent + "</td> <td> " + data.JobApplicants[i].GradPercent + "</td> <td> " + data.JobApplicants[i].PGPercent + "</td> <td> " + data.JobApplicants[i].HaveWorkExp + "</td> </tr>";
                }

                
                $('#ApplicantDiv').append(trhtml);

            },
            error: function (reponse) {

                alert("error : " + reponse);
            }
        });
    }

       function Select() {
           alert("Selected");
       }

       function Reject() {
           alert("Rejected");
       }
</script> 


<h2>VIEW JOB APPLICANTS</h2>

<div>
    <p>Company</p> 
    
    @Html.DropDownList("ddlcompany", new SelectList(@ViewBag.JobCompanyNameL), "--Select--", new { @id = "ddlcompany", @style = "width:200px;" , @onchange = "javascript:GetDomains(this.value);" }) 
</div>

<div id="SelectDomain" class="editor-field">
     
</div>
 
<div id="SelectJob" class="editor-field">
     
</div>

<div id ="mytable" class ="display"> 
    
</div> 

<div id="ApplicantDiv" name="DetailsDiv" align="center"> 

</div> 